body{
    background-color: antiquewhite;
    width: 100%;
    margin-left: 20px;
}
.container{
    margin: 10px;
}
.blue,.black,.green{
    height: 100px;
    width: 100px;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}

.container .hautcentrer,.bascentrer{
    margin: 0px 0px 10px 400px;
    display: flex;
    flex-direction: row;
}

.ligne_milieu{
    display: flex;
    flex-direction: row;
    margin: 100px 00px 80px 0px;  
}
.bascentrer{
    margin-top: 140px;
}

.ligne_milieu .milieucentrer{
    display: flex;
    flex-direction: row;
    margin: 100px 300px 80px 300px; 
}